@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}
:root {
  --background: rgb(24, 24, 24);
  --second-background: rgb(21, 21, 21);
}
body{
  min-height: 100vh;
  background-color: var(--background);
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2em 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(15, 15, 15, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.para{
  font-family: 'Roboto';
}

ul{
  display: flex;
  align-items: center;
  gap: 3em; 
}

nav ul a{
  color: white;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
  font-family: 'nunito', sans-serif;
}

nav ul a:hover{
  opacity: 1;
}

.logo{
  font-size: 2em;
  color: white;
  font-weight: 800;
  opacity: 0.8;
  transition: 0.2s ease-in-out;
  color: var(--background);
}

.logo:hover{
  opacity: 1;
}

.btn{
  padding: 0.5em 1em;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 0.5em;
  border: 2px solid white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  font-size: 1.1em;
  font-family: 'nunito', sans-serif;
}

.btn:hover{
  background-color: white;
  color: var(--background);
}

span{
  background: linear-gradient(to bottom, #6cff52, #3ec5ff);
  background-clip: text;
  color: transparent;
  font-family: 'NUNITO', sans-serif;
}

#menu{
  color: white;
  font-size: 3em;
  display: none;
}

section{
  min-height: 100vh;
  padding: 5% 15%;
}

#home{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  color: white;
}

#home img{
  width: 18vw;
  border-radius: 220px;
  margin-top: 3em;
}

.info-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 600px;
}

.info-box h1{
  font-size: 5em;
  font-weight: 500;
}

.info-box h3{
  font-size: 2em;
  font-weight: 400;
  font-family: 'roboto';
}

.info-box p{
  opacity: 0.7;
}

.btn-box {
  display: flex;
  gap: 1em;
}

.btn-box .btn:nth-of-type(2){
  background-color: white;
  color: black;
}

.btn-box .btn:nth-of-type(2):hover{
  background: linear-gradient(to bottom, #6cff52, #3ec5ff);
  color: white;
}

::-webkit-scrollbar{
  width: 20px;
  background-color: var(--background);
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(to bottom, #6cff52, #3ec5ff);
}


/*Custom link */
.para-link {
  color: #a7ff83;
  font-family: 'nunito';
}

#about {
  background-color: linear-gradient(to bottom, #6cff52, #3ec5ff);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

#about img{
  width: 30vw;
  border-radius: 1em;
}

.about-box{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2em;
}

.about-box h1{
  font-size: 5em;
}

.about-box p{
  color: white;
  opacity: 0.8;
  font-size: 1.08em;
}

.skills{
  display: flex;
  text-align: left;
  gap: 10em;
}

.skills ul{
  font-weight: 500;
  display: flex;
  flex-direction: column;
  color: white;
  opacity: 0.8;
  align-items: baseline;
}

.skills ul li span{
  display: flex;
  gap: 0.5em;
  font-size: 1.2em;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.skills ul li span:hover{
  transform: translateX(10px);
}


.about-box h2{
  font-size: 2.5em;
}

#services {
  background-color: var(--background);
}

.header {
  text-align: center;
  font-size: 5em;
  margin: 0.5em 0;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  gap: 2em;
}

.box{
  border: 3px solid rgb(49, 49, 49);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  object-fit: cover;
  padding: 3em;
  gap: 2em;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.box:hover{
  border: 3px solid rgb(100, 100, 100)
}

.box p{
  opacity: 0.8;
}

.box h1{
  font-size: 2em;
}

.box img{
  min-width: 25px;
  border-radius: 0.5em;  
}

#contact {
  background-color: var(--second-background);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

form .input-box{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1em;
}

.input-box span{
  font-size: 1.5em;
}

form input {
  font-size: 1.3em;
  padding: 1em 5em;
  border-radius: 0.5em;
}

form input:focus{
  background: rgb(229, 229, 228);
  color: black;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10em;
  bottom: 0;
  background-color: var(--background);
  width: 100%;
  padding: 5em 15%;
}
.col-left{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.col-box{
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1em;
}

.col-box i{
  font-size: 2em;
}

.col-box span{
  font-size: 1.2em;
}

col-right {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: white;
  max-width: 500px;
}

.col-right span{
  font-size: 1.3em;
}
.col-right .social-icons{
  display: flex;
  align-items: baseline;
  justify-content: left;
  gap: 1em;
}

.col-right .social-icons i{
  font-size: 2em;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.social-icons i:hover{
  color: white;
}

@media(max-width:968px){

}

@media(max-width:768px){
  
}